* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

/* Header */
.Header {
  text-align: left;
  padding: 20px 0px 0px 20px
}
.Header2 {
  text-align: right;
  padding: 0px 20px 5px 0px
}

/* Playlist */
.SongList {
  padding: 10px
}
.Song {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
}
.A {
  text-align: left;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.B {
  text-align: right;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.C {
  text-align: left;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
} 
.D {
  
} 
.E {
  
}
.F {
  
}
.PlaylistHeader {
  padding: 20px 0px 0px 0px;
}

/* Favorites */
#FavHeader {
  display: none;
}

/* Form */
.FormHeader {
  padding: 0px 0px 20px 0px
}
.InputsForm {
  
}
.GridForm {
  display: grid;
  grid-template-columns: .5fr 3fr;
  padding: 0px 30px 10px;
  column-gap: 5px;
  row-gap: 5px;
}
.ButtonForm {
  width: 100px;
  height: 25px;
}
.FormTitle {
  text-align: right;
}
input {
  width: 100%;
}