* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

/* Header */
.Header {
  text-align: left;
  padding: 20px 0px 0px 20px
}
.Header2 {
  text-align: right;
  padding: 0px 20px 5px 0px
}

/* Playlist */
.SongList {
  padding: 10px
}
.Song {
  padding: 10px
}

/* Favorites */
.FavHeader {
  display: none;
}

/* Form */
.InputsForm {
  
}
.GridForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20%;
}
.ButtonForm {
  
}